SERVER_HOST=0.0.0.0
SERVER_PORT=8083

PCC_PRODUCT_HOST=10.10.15.94
PCC_PRODUCT_PORT=18000
PCC_PRODUCT_ROUTE_IMAGE=/api/image_model/get_by_time_range

CV_FEATURE_MODEL_DIR=/root/resources/image_feature_extraction/pcc
PCC_IMAGE_DIR=/root/resources/products/pcc

VECTOR_CLIENT_NAME=/root/resources/products/pcc_milvus.db
VECTOR_SIZE=768
COLLECTION_NAME=pcc_collection_name
TOP_K=3